:root {
    --fg-base: #181c2f;
    --fg-base-mute: #8b8c91;
    --fg-blue: rgb(28, 176, 246);
    --fg-red: #ea2b2b;
    --fg-green: #58a700;
    --fg-yellow: #ffc800;

    --bg-base: white;
    --bg-base-lt: #e5e5e5;
    --bg-highlight: #f7f7f7;

    --c-green: #58cc02;
    --c-green-lt: #61e002;
    --c-green-ltr: #bff199;
    --c-red: #ff3b30;
    --c-red-lt: #ff5252;
    --c-red-ltr: #f7c8c9;
    --c-blue: rgb(132, 216, 255);
    --c-blue-ltr: rgb(221, 244, 255);

    --c-good: var(--c-green);
    --c-good-lt: var(--c-green-lt);
    --c-bad: var(--c-red);
    --c-bad-lt: var(--c-red-lt);

    @media (prefers-color-scheme: dark) {
        --fg-base: #eff7fa;
        --bg-base: #141f23;
        --bg-base-lt: #526168;
        --bg-highlight: #202f36;
        --c-blue-ltr: rgb(20, 50, 59);
        --c-green-ltr: #203510;
        --c-red-ltr: #301010;
    }
}

input {
    background: var(--bg-base);
    color: var(--fg-base);
    margin-bottom: 2px;

    &:focus {
        outline: 2px solid var(--c-blue);
    }
}
